<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>pic-of-the-day</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <main>
    <div class="card">
      <div class="potd">
        <div>
          <figure>
            <img src="{{ data.image_src }}" />
            <div class="figCaption">
              <a href="{{ data.image_page_url }}" target="blank">
                View on Wikipedia
              </a>
            </div>
          </figure>
        </div>
      </div>
      <div class="rightSide">
        <div class="pic-title">
          <div>{{ data.filename }}</div>
        </div>
        <div class="text">
          {{ data.caption | safe }}
        </div>
        <div class="date-container">
          <div class="current-date">Wikipedia pic-of-the-day</div>
          <div class="current-date"><time>{{ data.date.strftime("%d %B %Y") }}</time></div>
        </div>

      </div>
      
    </div>
      <br /><br />
    <!-- <div class="footer">
      <a href="https://github.com/wikimedia/mediawiki-api-demos/tree/master/apps/picture-of-the-day-viewer">
      <p>View source on GitHub</p>
      </a>
    </div> -->
  </main>
</body>


<!-- <div class="date-navigator">
                 Change action url from / to /toolname/ for deployment in Toolforge 
                <form action="/" method="POST">
                  {% if data.date.strftime("%d %B %Y") == "14 May 2004" %}
                  <input type="submit" name="change_date" value="← Back">
                  {% else %}
                  <input type="submit" name="change_date" value="← Back">
                  {% endif %}
                  {% if data.date == data.date.today() %}
                  <input type="submit" name="change_date" value="Next →">
                  {% else %}
                  <input type="submit" name="change_date" value="Next →">
                  {% endif %}
                </form>
              </div> -->
